.app_violet_theme {
  --bg-color: #f9f7fd;
  --inverted-bg-color: #5130a1;
  --primary-color: #935dff;
  --secondary-color: #5130a1;
  --inverted-primary-color: #d1bdf8;
  --inverted-secondary-color: #f9f7fd;
}
