.app_violet_theme {
  --bg-color: #f9f7fd;
  --inverted-bg-color: #5130a1;
  --primary-color: #935dff;
  --secondary-color: #5130a1;
  --inverted-primary-color: #d1bdf8;
  --inverted-secondary-color: #f9f7fd;

  // Skeleton
  --skeleton-color: rgb(201 173 208);
  --skeleton-shadow: rgb(161 144 170);

  // code
  --code-bg: #e8deec;

  // card
  --card-bg: #dbcaff;
}
