.app_violet_theme {
    --bg-color: #F9F7FD;
    --inverted-bg-color: #5130a1;
    --primary-color: #935dff;
    --secondary-color: #5130a1;
    --inverted-primary-color: #F9F7FD;
    --inverted-secondary-color: #F9F7FD;
  }
  